* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.jumbotron-inner-container {
  padding-top: 180px;
  width: 80%;
  margin: 0 auto;
  display: block;
}

.jumbotron {
  background-color: #b4d0e7;
  width: 100%;
  height: 600px;
}

.big-header{
  display: block;
  margin-bottom: 20px;
}

.big-copy-container {
  width: 40%;
}

.big-copy-container h3,a,i {
  margin-bottom: 20px;
}
