* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.jumbotron-inner-container {
  padding-top: 50px;
  width: 80%;
  margin: 0 auto;
  display: block;
}

.jumbotron {
  background-color: #b4d0e7;
  width: 100%;
  height: 80vh;
}

.big-header{
  display: block;
  margin-bottom: 20px;
}

.big-copy-container {
  width: 40%;
}

.big-copy-container h3,
.big-copy-container a,
.big-copy-container i {
  display: block;
  margin-bottom: 20px;
}

.big-img-container {
  width: 60%;
}

.big-img-container img {
  width: 100%;
}

.business-inner-container {
  padding-top: 50px;
  width: 80%;
  margin: 0 auto;
  display: block;
}
